block mixins 
    include ./views/mixins
html 
    head 
    body 
        .wrappner Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, corrupti amet voluptas commodi alias distinctio, nam reiciendis provident non praesentium vitae architecto accusantium? Soluta ex, recusandae nemo quae sapiente numquam.