*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root{
    --primary--color:#222120;
    --secondary--color:#F8F3ED;
    --gray:#faf5ef;
    --primary--font:"DM Sans";
    --secondary--font:"Prata";
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--primary--font);
    background-color: var(--secondary--color);
    text-rendering: optimizeLegibility;
    color: var(--primary--color);
}
.wrapper{
    max-width: 1600px;
    margin: 0 auto;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.font-heading{
    font-family: var(--secondary--font);
    font-weight: 400;
}
.g-heading{
    font-size: 70px;
    line-height: calc(76/70);
}
.header{
    background-color: var(--primary--color);
    margin-bottom: 256px;
    &-top{
        padding: 3rem 0;
    }
    &-top .container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &-contact{
        font-size: 2.4rem;
        line-height: calc(32/24);
        color: white;
    }
    &-main{
        display: flex;
        align-items: center;
        padding-top: 15.5rem;
        gap: 3.2rem;
    }
    &-content{
        width: 100%;
        max-width: 72.5rem;
    }
    &-heading{
        color: white;
        font-size: 8.2rem;
        line-height: 1;
        margin-bottom: 6.8rem;
        letter-spacing: -1px;
        &-child{
            display: block;
            margin-left: 13rem;
        }
    }
    &-info{
        width: 100%;
        max-width: 40.7rem;
        margin-left: auto; //day qua trai
    }
    &-text{
        font-size: 20px;
        color: white;
        margin-top: 4.7rem;
        opacity: 0.6;
    }
    &-img2{
        transform: translate(0,78px);
    }
}
.menu{
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    font-size: 1.8rem;
    &-link{
        color: var(--gray);
        opacity: 0.4;
    }
}
//about
.about{
    padding-bottom: 150px;
    margin-bottom: 130px;
    &-header{
        //max-width: 1264px;
        //height: 228px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 110px;
    }
    &-heading{
        font-family: Prata;
        max-width: 388px;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 76px;
        /* or 109% */
        color: #222120;
    }
    &-desc{
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        /* or 142% */
        color: #222120;
        opacity: 0.7;
        width: 100%;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 140px;
    }
    &-right{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 513px;
        width: 100%;
    }
    &-caption{
        font-size: 52px;

    }
}

//project
.project{
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: ;
    }
}

